.filters {
    background-color: white;
    height: 70px;
    width: 100%;
    border: 1px solid #DDDDDD;
    border-radius: 4px;
    position: relative;

}
.filters button {
    font-size: 18px;
    background-color: #FF5A5F;
    color: #FFFFFF;
    height: 48px;
    width: 20%;
    border: none;
    border-radius: 4px;
    align-items: center;
    right: 0;
    top: 50%;
    transform: translate(-30px, -50%);
    position: absolute;

}
.filters button:hover {
    opacity: 90%;
}